/*
Couples Resort Responsive Build
12 column grid as per XD file
Some design elements & functionality has not been included to keep build simple for level 2
Fucntionality can be added in other classes

https://marketplace.visualstudio.com/items?itemName=gwanduke.convert-px-to-rem
helpful plugin to convert px to rem
 */

/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer
    9.  Custom Queries
    10. Tablet Queries
    11. Desktop Queries 
 */


 /* 1. ---General Styles--- */

 html {
   font-size: 100%; 
 } 

body {
   color: #626262;
   font-family: 'Sanchez', 'Times New Roman', serif;
}

a {
   text-decoration: none;
   transition: all .5s ease-in-out;
}

input, textarea {
   display: block;
   margin: 0;
   padding: 0;
}

.cr-red {
   color: #9a2018;
}

/* 2. ---Main Nav--- */

#main-nav button {
	background: url(../images/burger.svg) center no-repeat;
	border: 0rem;
	width: 1.25rem;
	height: 1.25rem;
	transition: all .5s ease;
   margin-top: 0.9375rem;
   margin-bottom: 1.25rem;
}

#main-nav button.expanded {
	transform: rotate(90deg);
}

#burger-con {
	margin-top: 1.25rem;
	display: none;
   margin-bottom: 1.25rem;
}

#burger-con.slide-toggle {
	display: block;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav li a {
	display: block;
	padding: 0.625rem 0 0.625rem 0;
	text-align: center;
	color: #626262;
}

#main-nav li {
	border-bottom: 0.0625rem solid #efefef;
}

#main-nav li:first-child {
	border-top: 0.0625rem solid #efefef;
}

#main-nav li:last-child {
	margin-bottom: 0.625rem;
}

#main-nav li a:hover {
	color: #9a2018;
}

/* this will appear at desktop */
#book-now-header {
   display: none;
   margin-right: -1rem;
}

#logo {
   margin-bottom: 1.25rem;
   max-width: 18rem;
}


/* 3. ---Main Hero Image--- */

.book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 1rem;
   transition: background-color 500ms linear;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   transition:all 0.3s ease;
   cursor: pointer;
}

.book-now:hover {
   box-shadow: inset 0rem -7.5rem 0rem 0rem rgb(196, 28, 28);
}

#book-now-hero {
   height: 4.1875rem;
}

/* I export the image at tablet size for use at mobile up to tablet 
I also use the feature in XD to export at 2x as well*/

#hero {
   background-image: url(../images/hero-main-mt.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}

/*image switching for retina screens*/

@media screen and (min-resolution: 200dpi),
		 screen and (min-resolution: 1.25dppx) {
	#hero {
		background-image: url(../images/hero-main-mt@2x.jpg);
	}		
}

#hero .grid-con {
   height: 13.75rem;
}

#hero-heading-box {
   align-self: end;
}

.hero-img-h2, .hero-img-h3 {
   background: rgb(255, 255, 255);
   padding: 0.625rem 0.9375rem;
   font-size: 0.875rem;
}

.hero-img-h2 span,  .hero-img-h3 span {
   color: #9a2018;
   font-size: 0.75rem;
}

#booking-calendar {
   display: none;
}

.line-seperator {
   margin-top: 1.25rem;
   border-top: solid 0.1875rem #CF6666;
   padding-top: 1.25rem;
}

#hero-summary p {
   font-size: 0.875rem;
   line-height: 1.375rem;
   margin-bottom: 1.25rem;
}

/* 4. ---Main Hero Image Contact--- */

.fas {
   font-size: 3.125rem;
   color: #9a2018;
   margin: 0 auto;
   float: left;
}

.fa-mobile-alt {
   margin-right: 1.25rem;
   margin-left: 0.1875rem;
   margin-bottom: 1.25rem;
}

.fa-map-marker-alt {
   margin-right: 0.9375rem;
}

#contact {
   font-size: 0.75rem;
   background-color: #efefef;
   padding-top: 1.875rem;
   padding-bottom: 1.875rem;
}

#contact .grid-con > div {
   width: 15rem;
   margin: 0 auto;
}

/* 5. ---Why Chose Us--- */

#why-choose-us-nav {
   padding-top: 1.25rem;
}

#why-choose-us-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
#why-choose-us-nav ul li {
   margin-bottom: 0.9375rem;
}

#why-choose-us-nav ul li a {
  color: inherit;
  padding: 0.3125rem;
}

#why-choose-us-nav ul li a.selected {
   border-left: #9a2018 solid 0.3125rem;
 }


#why-choose-us-hero {
   background-image: url(../images/why-choose-us-hero-mt.jpg);
	background-repeat: no-repeat;
	background-size: cover;
   background-position: center;
}

/*image switching for retina screens*/

@media screen and (min-resolution: 200dpi),
		 screen and (min-resolution: 1.25dppx) {
   #why-choose-us-hero {
		background-image: url(../images/why-choose-us-hero-mt@2x.jpg);
	}		
}

#why-choose-us-hero .grid-con {
   height: 12.1875rem;
}

#why-choose-us-heading-box {
   align-self: end;
}

.why-choose-us-image {
   float: left;
   margin-right: 1.25rem;
   margin-top: 1.875rem;
}

.why-choose-us-image span{
   display: none;
}


.why-choose-us-image-con h2 {
   font-size: 0.875rem;
   margin-bottom: 1.25rem;
   margin-top: 1.875rem;
}

.why-choose-us-image-con p {
   font-size: 0.75rem;
   margin-bottom: 1.25rem;
   line-height: 1.25rem;
}

.why-choose-us-image-con a {
   color: #707070;
   font-size: 0.75rem;
}

.show-hide {
   display: none;
}

#why-choose-us-bottom-nav {
   background-color: #CF6666;
   padding: 0.625rem;
   margin-top: 1.25rem;
   margin-bottom: 1.875rem;
}

#why-choose-us-bottom-nav ol {
   list-style-type: none;
   margin: 0 0 0 1.25rem;
   padding: 0;
}

#why-choose-us-bottom-nav ol li {
   display: inline;
}

#why-choose-us-bottom-nav ol li a {
   padding: 0.3125rem;
   color: #fff;
}

/* 6. ---About & FAQ--- */

#about-hero {
   background-color: #efefef;
}

#about-hero .grid-con {
   height: 12.1875rem;
}

#about-hero-heading-box {
   align-self: end;
}

#about-hero {
   background-image: url(../images/about-us-hero-mt.jpg);
	background-repeat: no-repeat;
	background-size: cover;
   background-position: right;
}

/*image switching for retina screens*/

@media screen and (min-resolution: 200dpi),
		 screen and (min-resolution: 1.25dppx) {
    #about-hero {
		background-image: url(../images/about-us-hero-mt@2x.jpg);
	}		
}

#about-us-text {
   padding-bottom: 3.75rem;
}

#about-us-text p {
   font-size: 0.875rem;
   margin-bottom: 1.25rem;
   line-height: 1.375rem;
}

#about-us-text-column2 {
   font-style: italic;
}

#faq-con {
   background-color: #f4f4f4;
   padding-top: 2.1875rem;
   padding-bottom: 1.875rem;
}

.faq h2 {
   font-size: 1.5rem;
   margin-bottom: 1.25rem;
}

.faq h2 span {
   color: #9a2018;
   font-size: 1rem;
}

.faq-items {
   margin-bottom: 1rem;
}

.faq-items h3 {
   background: #e8e7e7;
   padding: 1rem;
   font-size: 1rem;
}

.faq-items ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.faq-items li {
   padding: 0.5rem 0;
   border-bottom: 0.0625rem solid #9a2018;
}   

.faq-items a {
   color: inherit;
   font-size: 0.8125rem;
}

#faq-text-con {
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
}

/* 7. ---Contact--- */

#contact-hero {
   background-image: url(../images/contact-hero-mt.jpg);
	background-repeat: no-repeat;
	background-size: cover;
   background-position: center;
}

/*image switching for retina screens*/

@media screen and (min-resolution: 200dpi),
		screen and (min-resolution: 1.25dppx) {
   #contact-hero {
		background-image: url(../images/contact-hero-mt@2x.jpg);
	}		
}

#contact-hero .grid-con {
   height:12.1875rem;
}

#contact-hero-heading-box {
   align-self: end;
}

#contact-hero-text {
   margin-top: 0.9375rem;
   margin-bottom: 1.5625rem;
}

#contact-hero-address p {
   margin-bottom: 1.25rem;
   font-size: 0.875rem;
   line-height: 1.375rem;
}

#contact-hero-address {
   margin-bottom: 1.875rem;
}

#contact-hero-address h3 {
   margin-bottom: 1.5625rem;
}

#contact-hero-form form {
   display: flex;
   flex-direction: column;
}

#contact-hero-form input, textarea {
   padding: 1.375rem;
   border: 0.125rem solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 0.3125rem;
   margin-bottom: 1.875rem;
   font: inherit;
   width: 100%;
}

#contact-hero-form textarea {
   height: 15.625rem;
}

#contact-hero-form input[type="submit"] {
   padding: 0.75rem 1.75rem;
   background: #9a2018;
   color: #fff;
   border: none;
   transition: all 200ms ease-in;
   width: 9.375rem;
   align-self: flex-end;
}

#contact-hero-form input[type="submit"]:hover {
   background-color: #626262;
   border-radius: 0;
}

/* 8. ---Footer--- */

#footer-hero {
   background-image: url(../images/footer-mt.jpg);
	background-repeat: no-repeat;
	background-size: cover;
   background-position: center;
   color: #fff;
   font-size: 0.75rem;
   margin-top: 2.5rem;
   padding-bottom: 5rem;
}

/*image switching for retina screens*/

@media screen and (min-resolution: 200dpi),
		screen and (min-resolution: 1.25dppx) {
   #footer-hero {
		background-image: url(../images/footer-mt@2x.jpg);
	}		
}

#footer-hero h3 {
   margin-top: 1.875rem;
   font-size: 1.75rem;
   margin-bottom: 1rem;
}

#footer-privacy .line-seperator {
   margin-top: 0rem;
}

#footer-contact-info h3 {
   font-size: 1.4375rem;
}

#footer-contact-info p {
   margin-bottom: 1.25rem;
   line-height: 1.125rem;
   font-size: 0.6875rem;
}

#footer-nav, #footer-book-now {
   display: none;
}

/* 9. ---Custom Size Media Queries--- */

@media screen and (min-width: 500px) { 

   #hero .grid-con {
      height: 18.75rem;
   }

   #why-choose-us-hero .grid-con {
      height: 15rem;
   }

   #about-hero .grid-con {
      height: 15rem;
   }

   #contact-hero .grid-con {
      height: 15rem;
   }

}

 /* 10. ---Tablet Sized Screens--- */

@media screen and (min-width: 768px) {

   #stick-nav-con {
      position: sticky;
      background-color: #fff;
      top: 0rem;
      border-bottom: solid 0.0625rem #c3c3c3;
      z-index: 1; 
      /* had to set z-index as css filters was causing images to overlap, see below */
   }
   
   #logo {
      margin-top: 2rem;
   }

   #button {
      display: none;
   }
   
   #main-nav {
      border-left: 0.125rem solid #707070;
      margin-top: 4%;
      margin-bottom: 4%;
      padding-left: 1.875rem;
   }

   #burger-con {
      display: block;
      font-size: 0.75rem;
   }

   #burger-con ul li, #burger-con ul li:first-child {
      border: none;
      display: inline;
   }

   #burger-con ul li {
      margin-right: 0.625rem;
   }

   #burger-con ul li:last-child {
      margin-right: 0rem;
   }

   #main-nav li a {
      display: inline;
   }

   #book-now-header {
      display: flex;
   }

   #book-now-hero {
      display: none;
   }

   #booking-calendar {
      display: block;
      height: 12.5rem;
      background-color: #9a2018;
      color: #fff;
      padding: 1.875rem 0.625rem 1.25rem 0.625rem;
      margin-top: 3.125rem;
   }

   #booking-calendar h3 {
      font-size: 0.75rem;
      margin-bottom: 0.625rem;
   }

   #booking-calendar input[type="date"], #booking-calendar input[type="number"]  {
      padding: 0.25rem;
      border: 0.125rem solid #d6d6d6;
      background-color: #f7f7f7;
      border-radius: 0.3125rem;
      margin-bottom: 0.625rem;
      font: inherit;
      font-size: 0.75rem;
      width: 100%;
   }

   #booking-calendar input[type="submit"] {
      padding: 0.75rem 0 0.75rem 0;
      background: #CF6666;
      color: #fff;
      border: solid 0.125rem #CF6666;
      transition: all 100ms ease-in;
      border-radius: 0.625rem;
      width: 100%;
      font-size: 0.75rem;
      margin-top: 1.25rem;
      text-align: center;
   }

   #booking-calendar input[type="submit"]:hover {
      border: solid 0.125rem #fff;
      cursor: pointer;
   }

   #hero .grid-con {
      height: 29.6875rem;
   }

   #hero {
      background-image: url(../images/hero-main-td.jpg);
   }
   
   /*image switching for retina screens*/
   
   @media screen and (min-resolution: 200dpi),
         screen and (min-resolution: 1.25dppx) {
      #hero{
         background-image: url(../images/hero-main-td@2x.jpg);
      }		  
   }

   #logo {
      order: -1;
   }

   .hero-img-h2, .hero-img-h3 {
      padding: 1.875rem 0.9375rem;
      font-size: 1.125rem;
   }
   
   .hero-img-h2 span,  .hero-img-h3 span {
      font-size: 0.875rem;
   }

   #contact {
      line-height: 1.375rem;
      height: 13.375rem;
      padding-top: 3.75rem;
      font-size: 0.6875rem;
   }

   #contact .grid-con > div {
      width: auto;
      margin: 0;
   }

   .fas {
      font-size: 3.75rem;
   }

   #why-choose-us-nav {
      margin-bottom: 1.875rem;
      margin-top: 1.875rem;
   }

   #why-choose-us-nav ul li {
      display: inline;
      margin-right: 1.875rem;
   }

   #why-choose-us-nav ul li a.selected {
      border-left: none;
      border-bottom: 0.3125rem solid #9a2018;
      padding-bottom: 1.5625rem;
   }
   
   #why-choose-us-hero .grid-con {
      height: 21.875rem;
   }

   #why-choose-us-hero {
      background-image: url(../images/why-choose-us-hero-td.jpg);
   }
   
   /*image switching for retina screens*/
   
   @media screen and (min-resolution: 200dpi),
         screen and (min-resolution: 1.25dppx) {
      #why-choose-us-hero {
         background-image: url(../images/why-choose-us-hero-td@2x.jpg);
      }		 
   }

   .why-choose-us-image {
      float: none;
      margin-right: 0rem;
      margin-top: 0rem;
      position: relative;
   }

   .why-choose-us-image span{
      display: block;
      position: absolute;
      bottom: 1.875rem;
      right: 0rem;
      color: #fff;
      font-size: 5.5rem;
   }

   .why-choose-us-image-con h2 {
      font-size: 1.375rem;
      margin-top: 0;
      margin-bottom: 0.625rem;
   }

   .why-choose-us-image-con h3 {
      font-size: 1rem;
      margin-bottom: 1.25rem;
   }

   .why-choose-us-image img {
      filter: grayscale(100%);
      z-index: -1;
      /* set z-index lower so images don't overlap the nav
      applying filters affects the browser painting order */
      display: block;
      /* the images were not fully filling the grid boxes, until I set them to block */
   }

   .why-choose-us-image-con {
      margin-bottom: 1.875rem;
   }

   #hot-tub p, #hot-tub a, #hot-tub h2 {
      display: none;
   }

   #spa {
      background-color: #626262;
      color: #fff;
      padding: 1.25rem;
   }

   #spa p {
      /* not supported in all browsers */
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      text-overflow: ellipsis;
      overflow: hidden;
   }

   #spa a {
      color: #fff;
      padding-bottom: 0.3125rem;
   }

   #spa a:hover {
      border-bottom: solid 0.1875rem #9a2018;
   }

   #why-choose-us-bottom-nav {
      display: none;
   }

   #why-choose-us {
      margin-bottom: 5rem;
   }

   .show-hide {
      display: block;
   }
   
   #about-hero .grid-con {
      height: 18.75rem;
   }

   #about-hero {
      background-image: url(../images/about-us-hero-td.jpg);
      background-position: right;
   }
   
   /*image switching for retina screens*/
   
   @media screen and (min-resolution: 200dpi),
         screen and (min-resolution: 1.25dppx) {
       #about-hero {
         background-image: url(../images/about-us-hero-td@2x.jpg);
      }		  
   }

   #about-us-text {
      column-count: 2;
   }

   #about-us-text-column1 {
      margin-bottom: 5rem;
   }

   #contact-hero {
      background-image: url(../images/contact-hero-td.jpg);
   }
   
   /*image switching for retina screens*/
   
   @media screen and (min-resolution: 200dpi),
         screen and (min-resolution: 1.25dppx) {
      #contact-hero {
         background-image: url(../images/contact-hero-td@2x.jpg);
      }		  
   }

   #contact-hero-text {
      padding-top: 3.125rem;
      margin-top: 1.25rem;
   }

   #faq-text-con  {
      column-count: 2;
      text-align: left;
   }

   #footer-nav {
      display: block;
   }

   #footer-book-now {
      display: flex;
      height: 5rem;
      margin-top: 2.5rem;
   }

   #footer-hero {
      background-image: url(../images/footer-td.jpg);
   }
   
   /*image switching for retina screens*/
   
   @media screen and (min-resolution: 200dpi),
         screen and (min-resolution: 1.25dppx) {
      #footer-hero {
         background-image: url(../images/footer-td@2x.jpg);
      }		  
   }

   #footer-nav {
      margin-top: 2.5rem;
      column-count: 2;
   }

   #footer-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
   }

   #footer-nav ul li a {
      color: #fff;
   }

   #footer-nav ul li {
      margin-bottom: 1.25rem;
   }   
}

 /* 11. ---Desktop Sized Screens--- */

@media screen and (min-width: 1200px) {

   #main-header {
      height: 6.875rem;
   }

   #main-nav {
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 1.5625rem;
   }

   #burger-con ul li {
      margin-right: 1.5625rem;
   }

   #burger-con {
      font-size: 1rem;
      margin-top: 1.75rem;
   }

   .book-now {
      font-size: 1.125rem;
   }

   #booking-calendar {
      height: 14.625rem;
   }

   #check-availability {
      margin-top: 0.625rem;
   }

   #hero .grid-con {
      height: 28.4375rem;
   }

   .hero-img-h2, .hero-img-h3 {
      font-size: 1.5rem;
   }

   .hero-img-h2 span, .hero-img-h3 span {
      font-size: 1rem;
   }

   .fas {
      font-size: 5.625rem;
   }

   .fa-mobile-alt {
      margin-right: 2.5rem;
   }

   .fa-map-marker-alt {
      margin-right: 2.5rem;
   }

   #why-choose-us-hero .grid-con {
      height: 23.75rem;
   }

   #spa p {
      display: block;
      -webkit-line-clamp: unset;
      -webkit-box-orient: unset;
      text-overflow: unset;
      overflow: auto;
   }

   #why-choose-us-nav {
      margin-top: 3.125rem;
      font-size: 1.5rem;
   }

   #about-hero .grid-con {
      height: 23.75rem;
   }

   #contact-hero .grid-con {
      height: 23.75rem;
   }
}